<?xml version="1.0"?>
<robot xmlns="http://drake.mit.edu"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://drake.mit.edu ../../../../doc/drakeURDF.xsd" name="soccer_ball">

  <link name="ball">
    <inertial>
      <mass value="0.420"/>
      <origin xyz="0 0.0 0" rpy="0 0 0"/>
      <inertia ixx="0.00137" ixy="0" ixz="0" iyy="0.00137" iyz="0" izz="0.00137"/>
    </inertial>

    <visual>
      <geometry>
        <sphere radius="0.1" />
      </geometry>
    </visual>
    <collision group="ball">
      <geometry>
        <sphere radius="0.1" />
      </geometry>
    </collision>

  </link>
</robot>
